.allWeatherList {
  width: 20%;
  height: 100vh;
  position: relative;
  background-color: #625AB6;
  left: 80.5%;
  bottom: 100vh;
  display: flex;
  overflow-y: scroll;
  justify-content: space-around;
  opacity: 75%;
  border-radius: 3% 0 0 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.fixedTime {
  display: flex;
  justify-content: space-around;
  margin: 0;
  position: fixed;
  left: 80.5vw;
  background-color: #555555;
  width: 20%;
  opacity: 75%;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

  .allHour{
    padding-top: 10vh;
  }

  .allTemp{
    padding-top: 10vh;
  }
