
.card {
  width: 50vw;
  margin: 20px auto;
  padding: 20px;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;

  .containerImage{
    display: flex;
  }
  img {
    width: 50%;
    height: 50%;
    border-radius: 15%;
    margin-bottom: 15px;
  }

  h2 {
    font-size: 24px;
    color: white;
    margin-bottom: 10px;
  }

  .card-about {
    font-style: italic;
    color: white;
    line-height: 1.6;
    text-align: left;
  }

}