*{
  font-family: Roboto, serif;
}


.weather-container {
  position: relative;
  width: 50%;
  top: 60vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .message{
    font-weight: bold;
    color: white;
    font-size: 50px;
    font-family: Roboto, serif;
  }
  .time_weather{
    font-size: 30px;
    color: white;
  }
  .weather-current{
    font-size: 30px;
    color: white;
  }

  .image-container img{
    width: 50px;
  }
}
video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}